@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

@layer base {
  body {
    font-family: "Pretendard", sans-serif;
  }
}

/* InvitedDashBoard.tsx에서 스크롤바 숨기는 css */
.scroll-area::-webkit-scrollbar {
  display: none;
}

.scroll-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Toastify__toast {
  width: 250px !important;
  border-radius: 16px;
  background-color: #f3f0ff !important;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 400;
}

.Toastify__toast--success {
  border-radius: 16px;
  padding: 14px 18px;
  background-color: #f3f0ff !important;
  color: #5534da !important;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.Toastify__toast--error {
  border-radius: 16px;
  padding: 14px 18px;
  background-color: white !important;
  color: #d549b6 !important;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.Toastify__close-button {
  display: none !important;
}

/* default icon */
.Toastify__toast-icon svg {
  fill: #5534da !important;
}

/* error icon */
.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #d549b6 !important;
}

.Toastify__progress-bar--success {
  background: #5534da !important;
}

.Toastify__progress-bar--error {
  background: #d549b6 !important;
}

@layer base {
  :root {
    --primary: #5534da;
    --color-violet8: #f1effd;
    --color-red: #d6173a;
    --color-green: #7ac555;
    --color-purple: #760dde;
    --color-orange: #ffa500;
    --color-blue: #76a5ea;
    --color-pink: #e876ea;
    --color-black: #000000;
    --color-black2: #171717;
    --color-black3: #333236;
    --color-black4: #4b4b4b;
    --color-gray1: #787486;
    --color-gray2: #9fa6b2;
    --color-gray3: #d9d9d9;
    --color-gray4: #eeeeee;
    --color-gray5: #fafafa;
    --color-white: #ffffff;
    --sortTextBgGreen: #e7f7db;
    --sortTextBgPink: #f7dbf0;
    --sortTextBgBlue: #dbe6f7;
    --sortTextBgOrange: #f9eee3;
    --sortTextGreen: #86d549;
    --sortTextPink: #d549b6;
    --sortTextBlue: #4981d5;
    --sortTextOrange: #d58d49;
  }
}

@layer utilities {
  .text-black2 {
    color: var(--color-black2);
  }
  .text-black3 {
    color: var(--color-black3);
  }
  .text-black4 {
    color: var(--color-black4);
  }
  .text-gray1 {
    color: var(--color-gray1);
  }
  .text-gray2 {
    color: var(--color-gray2);
  }
  .text-gray3 {
    color: var(--color-gray3);
  }
  .text-gray4 {
    color: var(--color-gray4);
  }
  .text-gray5 {
    color: var(--color-gray5);
  }
}

@layer utilities {
  .font-32b {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }
  .font-32sb {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
  }

  .font-24b {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .font-24sb {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .font-24m {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
  .font-24r {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  .font-20b {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
  }
  .font-20sb {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }
  .font-20m {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }
  .font-20r {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }

  .font-18b {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  .font-18sb {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }
  .font-18m {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }
  .font-18r {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }

  .font-16b {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
  .font-16sb {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
  }
  .font-16m {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }
  .font-16r {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }

  .font-14b {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }
  .font-14sb {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }
  .font-14m {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .font-14r {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .font-13sb {
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
  }
  .font-13m {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
  }

  .font-12sb {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  .font-12m {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }
  .font-12r {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff2")
    format("woff2");
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff2")
    format("woff2");
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff2")
    format("woff2");
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff2")
    format("woff2");
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.custom-datepicker-popper {
  transform: translateX(-10px) !important;
  transform: translateY(50px) !important;
}

/* 스크롤바 숨기기용 유틸리티 */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
